body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
}

#left {
    width: 33%;
}

#left img {
    width: 100%;
    height: 100%;
    display: block;
}

#logo {
    position: absolute;
    display: flex;
    background-color: rgba(36, 32, 32, 0.582);
    top: 20%;
    height: 20%;
    width: 33%;
    justify-content: center;
}

#logo p {
    display: flex;
    align-items: center;
    margin: 0;
    font-family: "Bungee", sans-serif;
    color: white;
    font-size: 3em;
}

#right {
    width: 67%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rightTop {
    font-size: 2em;
    padding-left: 2vw;
    padding-right: 20vw;
}

form {
    background-color: #cccccc;
    display: inline-block;
    padding: 0;
    border: 1px solid #cccccc;

}

h2 {
    margin-top: 2vh;
    flex: 0 0 100%;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: left;
    margin-bottom: 1vh;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
}

input,
textarea {
    font-size: 1em;
    font-family: sans-serif;
    box-sizing: border-box;
}

#formsheet {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding-left: 2em;
    padding-bottom: 4vh;
}

.field {
    display: flex;
    flex-direction: column;
    width: 40%;
}

button {
    padding: 1em;
    margin-left: 2em;
    margin-top: 2vh;
    width: 20%;
    background: #596D48;
    border-radius: 2em;
}